#background{
    width: 100vw;
    /* min-height: 100vh; */
    /* background-color: transparent; */
}
@font-face {
    font-family: montserrat-light;
    src: url('../Montserrat/static/Montserrat-Light.ttf');
}
@font-face {
    font-family: montserrat-Thin;
    src: url('../Montserrat/static/Montserrat-Thin.ttf');
}
@font-face {
    font-family: montserrat-Bold;
    src: url('../Montserrat/static/Montserrat-Bold.ttf');
}
@font-face {
    font-family: montserrat-SemiBoldItalic;
    src: url('../Montserrat/static/Montserrat-SemiBoldItalic.ttf');
}
/*  Home page */
.name-element{
    /* background-color: transparent; */
}

h1 {
    color: black;
}

a {
    text-decoration: none;
}

p {
    justify-content: left;
    text-align: justify;
    align-items: left;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.about {
    padding-right: 20px;
    display: flex;
    padding-top: 10vh;
    justify-content: center;
    height: 90vh;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "Fira Code", monospace;
    text-align: justify;
}
.about__heading{
    text-align: center;
    font-size: 50px;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.about__text {
    display: flex;
    flex-direction: column;
}

.about__headshot {
    border-radius: 50px;
    border: 5px solid gray;
    box-shadow: black 0px 20px 30px -10px;
    z-index: 100;
}

.about__body {
    font-family: "Fira Code", monospace;
    max-width: 50vw;
    padding-right: 50px;
}

.about__specialText {
    font-weight: bold;
}

.about__externLink {
    color: var(--purple);
}
@media only screen and (max-width: 768px) {
    .about {
        padding-top: 10vh;
        flex-direction: column;
        align-items: center;
    }

    .about__heading {
        font-size: 50px;
    }

    .about__text {
        text-align: center;
        font-size: 14px;
    }

    .about__body {
        padding-right: 0;
        max-width: 60vw;
        padding-bottom: 15px;
    }

    .about__headshot {
        width: 200px;
        height: 200px;
        margin-bottom: 15vh;
        margin-top: 15px;
    }
}


.header__logo{
    width: 175px;
    margin: 0 20px;
    margin-top: 18px;
    object-fit: contain;
    color: black;
}
.header__search{
    display: flex;
    flex: 1;
}
